.card-container{
    width: 150px;
    overflow: hidden;
    transition: 0.3s;
    animation: ease-in;
    justify-self: start;

    .image-container img{
        overflow: hidden;
        height: 230px;
        width: 200px;
    }

    .card-title{
        text-align: center;
    }
}
.card-container:hover{
    transform: scale(1.02);
}