.App {
    text-align: left;
  }
  button {
    background-color: #005F2D;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(46, 204, 113,0), 0 6px 20px 0 rgba(46, 204, 113,0.10);
  }
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(46, 204, 113,0.10), 0 17px 50px 0 rgba(46, 204, 113,0.05);
  }
  
  button:disabled{
    background-color: #005F2D;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    opacity: 40%;
    box-shadow: 0 8px 16px 0 rgba(46, 204, 113,0), 0 6px 20px 0 rgba(46, 204, 113,0.10);
  }
  
  a{
    text-decoration: none;
  }
  
  input{
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    border-color: whitesmoke;
  }
  
  
  textarea{
    width:100%;
    border-color: whitesmoke;
    padding: 12px 16px;
    margin: 8px 0;
  }